.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 918px;
}

.u-section-1 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 798px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 530px;
  width: 880px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 677px;
  min-height: 385px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -177px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-metadata-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  text-transform: uppercase;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 28px;
  height: 28px;
  background-image: none;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 28px;
  height: 28px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-blog-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 523px;
    width: 754px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -170px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 419px;
    width: 545px;
  }

  .u-section-1 .u-group-1 {
    width: 574px;
    min-height: 390px;
    margin-top: -71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 401px;
    width: 490px;
  }

  .u-section-1 .u-group-1 {
    width: 469px;
    margin-top: -53px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-1 .u-blog-1 {
    margin-bottom: -106px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 253px;
    width: 309px;
  }

  .u-section-1 .u-group-1 {
    min-height: 354px;
    width: 312px;
    margin-top: -35px;
  }
}