.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 278px;
}

.u-section-1 .u-image-1 {
  width: 277px;
  height: 165px;
  margin: 8px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 32px auto 20px;
}.u-section-2 .u-sheet-1 {
  min-height: 658px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 312px;
  animation-duration: 1000ms;
  margin: 68px auto 0 285px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 0 497px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-2 .u-image-1 {
    height: 272px;
    margin-top: 49px;
    margin-left: 185px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 61px;
    margin-left: 397px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 393px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 470px;
    margin-left: 125px;
  }

  .u-section-2 .u-btn-1 {
    align-self: center;
    margin-left: 262px;
  }

  .u-section-2 .u-btn-2 {
    align-self: center;
    margin-left: 258px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-image-1 {
    width: 389px;
    height: 220px;
    margin-top: 36px;
    margin-left: 76px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 197px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 193px;
  }

  .u-section-2 .u-btn-3 {
    margin-bottom: 36px;
    margin-left: 175px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-image-1 {
    height: 192px;
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 37px;
    margin-left: 97px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 93px;
  }

  .u-section-2 .u-btn-3 {
    margin-bottom: 30px;
    margin-left: 75px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 658px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 312px;
  animation-duration: 1000ms;
  margin: 68px auto 0 285px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 0 497px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-3 .u-image-1 {
    height: 272px;
    margin-top: 49px;
    margin-left: 185px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 61px;
    margin-left: 397px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 393px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    width: 470px;
    margin-left: 125px;
  }

  .u-section-3 .u-btn-1 {
    align-self: center;
    margin-left: 262px;
  }

  .u-section-3 .u-btn-2 {
    align-self: center;
    margin-left: 258px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-3 .u-image-1 {
    width: 389px;
    height: 220px;
    margin-top: 36px;
    margin-left: 76px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 197px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 193px;
  }

  .u-section-3 .u-btn-3 {
    margin-bottom: 36px;
    margin-left: 175px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-3 .u-image-1 {
    height: 192px;
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 37px;
    margin-left: 97px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 93px;
  }

  .u-section-3 .u-btn-3 {
    margin-bottom: 30px;
    margin-left: 75px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 312px;
  animation-duration: 1000ms;
  margin: 49px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 570px;
  height: 312px;
  animation-duration: 1000ms;
  margin: -312px auto 0 332px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 0 497px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: -46px auto 0 260px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 0 493px;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: -46px auto 0 255px;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 0 475px;
}

.u-section-4 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: -46px auto 30px 238px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-4 .u-image-1 {
    width: 454px;
    height: 271px;
    margin-top: 31px;
  }

  .u-section-4 .u-image-2 {
    width: 486px;
    height: 271px;
    margin-top: -271px;
    margin-left: 266px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 397px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 210px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 393px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 206px;
  }

  .u-section-4 .u-btn-5 {
    margin-left: 375px;
  }

  .u-section-4 .u-btn-6 {
    margin-bottom: 31px;
    margin-left: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-4 .u-image-1 {
    width: 486px;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 290px;
    margin-left: 117px;
  }

  .u-section-4 .u-btn-1 {
    align-self: center;
    margin-top: -531px;
    margin-left: 287px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 535px;
    margin-left: 287px;
  }

  .u-section-4 .u-btn-3 {
    align-self: center;
    margin-top: -551px;
    margin-left: 283px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 535px;
    margin-left: 283px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: -551px;
    margin-left: 265px;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 535px;
    margin-bottom: 50px;
    margin-left: 265px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-4 .u-image-1 {
    height: 263px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 267px;
    margin-left: 27px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -511px;
    margin-left: 197px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 516px;
    margin-left: 197px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -531px;
    margin-left: 193px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 516px;
    margin-left: 193px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: -531px;
    margin-left: 175px;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 516px;
    margin-bottom: 30px;
    margin-left: 175px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-4 .u-image-1 {
    height: 184px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -430px;
    margin-left: 97px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 415px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -430px;
    margin-left: 93px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 416px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-5 {
    margin-top: -431px;
    margin-left: 75px;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 415px;
    margin-left: auto;
    margin-bottom: 42px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 656px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 312px;
  animation-duration: 1000ms;
  margin: 68px auto 0 285px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 0 497px;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 49px 475px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-5 .u-image-1 {
    height: 272px;
    margin-top: 49px;
    margin-left: 185px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 61px;
    margin-left: 397px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 393px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 470px;
    margin-left: 125px;
  }

  .u-section-5 .u-btn-1 {
    align-self: center;
    margin-left: 262px;
  }

  .u-section-5 .u-btn-2 {
    align-self: center;
    margin-left: 258px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-5 .u-image-1 {
    width: 389px;
    height: 220px;
    margin-top: 36px;
    margin-left: 76px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 197px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 193px;
  }

  .u-section-5 .u-btn-3 {
    margin-bottom: 36px;
    margin-left: 175px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-5 .u-image-1 {
    height: 192px;
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 37px;
    margin-left: 97px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 93px;
  }

  .u-section-5 .u-btn-3 {
    margin-bottom: 30px;
    margin-left: 75px;
  }
}