.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-slider-1 {
  min-height: 450px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 108px;
  height: 3px;
  top: auto;
  bottom: -27px;
}

.u-section-1 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0 30px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-image-1 {
  background-image: url("images/RH11.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

.u-section-1 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: calc(((100% - 1140px) / 2)  + 29px);
  position: absolute;
  top: auto;
  right: auto;
  bottom: 37px;
}

.u-section-1 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: calc(((100% - 1140px) / 2)  + 105px);
  position: absolute;
  top: auto;
  right: auto;
  bottom: 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    min-height: 556px;
    height: auto;
  }

  .u-section-1 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-1 .u-carousel-control-1 {
    left: calc(((100% - 940px) / 2)  + 48px);
  }

  .u-section-1 .u-carousel-control-2 {
    left: calc(((100% - 940px) / 2)  + 124px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    min-height: 431px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: calc(((100% - 720px) / 2)  + 33px);
  }

  .u-section-1 .u-carousel-control-2 {
    left: calc(((100% - 720px) / 2)  + 109px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    min-height: 309px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-carousel-control-1 {
    inset: auto auto 37px calc((100% - 540px) / 2 + 29px);
    left: calc(((100% - 540px) / 2) + 29px);
  }

  .u-section-1 .u-carousel-control-2 {
    left: calc(((100% - 540px) / 2)  + 19px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    min-height: 196px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-carousel-control-1 {
    inset: auto auto 37px calc((100% - 340px) / 2 + 29px);
    left: calc(((100% - 340px) / 2) + 29px);
  }

  .u-section-1 .u-carousel-control-2 {
    left: calc(((100% - 340px) / 2)  + -81px);
  }
}.u-section-2 {
  min-height: 500px;
}

.u-section-2 .u-blog-1 {
  min-height: 789px;
  grid-template-columns: repeat(1, 100%);
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  grid-gap: 0px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-image-1 {
  height: 512px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  width: 640px;
  min-height: 305px;
  background-size: auto;
  margin: -88px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-metadata-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
  }

  .u-section-2 .u-group-1 {
    margin-top: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 303px;
}

.u-section-3 .u-image-1 {
  width: 565px;
  height: 179px;
  animation-duration: 1000ms;
  margin: 60px auto;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 763%;
  top: -331%;
}

@media (max-width: 1199px) {
  .u-section-3 .embed-responsive-1 {
    height: 552%;
    top: -226%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 171px;
  }

  .u-section-3 .embed-responsive-1 {
    top: -188%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 108px;
  }

  .u-section-3 .embed-responsive-1 {
    top: -39%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 302px;
}

.u-section-4 .u-image-1 {
  width: 442px;
  height: 204px;
  animation-duration: 1000ms;
  margin: 49px auto;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 765%;
  top: -333%;
}

@media (max-width: 1199px) {
  .u-section-4 .embed-responsive-1 {
    height: 553%;
    top: -227%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -265%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .embed-responsive-1 {
    width: 100%;
    height: 100%;
    top: -39%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 157px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 178%;
    height: 178%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 304px;
}

.u-section-5 .u-image-1 {
  width: 442px;
  height: 204px;
  animation-duration: 1000ms;
  margin: 50px auto;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 760%;
  top: -330%;
}

@media (max-width: 1199px) {
  .u-section-5 .embed-responsive-1 {
    height: 550%;
    top: -225%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -265%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .embed-responsive-1 {
    width: 100%;
    height: 100%;
    top: -39%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 157px;
  }

  .u-section-5 .embed-responsive-1 {
    width: 178%;
    height: 178%;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 301px;
}

.u-section-6 .u-image-1 {
  width: 650px;
  animation-duration: 1000ms;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 768%;
  top: -334%;
}

@media (max-width: 1199px) {
  .u-section-6 .embed-responsive-1 {
    height: 555%;
    top: -228%;
  }
}

@media (max-width: 991px) {
  .u-section-6 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .embed-responsive-1 {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .embed-responsive-1 {
    width: 178%;
    height: 178%;
  }
}