.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 312px;
  animation-duration: 1000ms;
  margin: 61px 0 0 auto;
}

.u-section-1 .u-custom-html-1 {
  min-height: 319px;
  animation-duration: 1000ms;
  margin: -312px 570px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 0 497px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 30px auto 60px 493px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 272px;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 570px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 397px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 393px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 22px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
    margin-left: 287px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 27px;
    margin-bottom: 32px;
    margin-left: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-1 .u-image-1 {
    width: 381px;
    height: 220px;
    margin-top: 33px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 562px;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 22px;
    margin-left: auto;
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 196px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 572px;
    margin-left: -116px;
    margin-right: -116px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 548px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 312px;
  animation-duration: 1000ms;
  margin: 60px 0 0 auto;
}

.u-section-2 .u-custom-html-1 {
  min-height: 319px;
  animation-duration: 1000ms;
  height: auto;
  margin: -312px 570px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 25px auto 0 490px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 22px auto 32px 479px;
  padding: 9px 37px 10px 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 248px;
    margin-right: auto;
  }

  .u-section-2 .u-custom-html-1 {
    width: 570px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 122px;
    margin-left: 397px;
  }

  .u-section-2 .u-btn-2 {
    align-self: center;
    margin-top: -121px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-2 .u-image-1 {
    height: 262px;
    margin-top: 30px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 28px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 125px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -120px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-top: 55px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 32px;
    width: 540px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 114px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -127px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-2 .u-image-1 {
    height: 196px;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-custom-html-1 {
    width: 568px;
    margin-top: 17px;
    margin-left: -114px;
    margin-right: -114px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 77px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -107px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 550px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 312px;
  animation-duration: 1000ms;
  margin: 70px 0 0 auto;
}

.u-section-3 .u-custom-html-1 {
  min-height: 319px;
  animation-duration: 1000ms;
  margin: -312px 570px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 9px auto 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 31px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 248px;
    margin-top: 96px;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    width: 567px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    align-self: center;
    margin-top: 60px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 24px;
    margin-bottom: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-3 .u-image-1 {
    height: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 199px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 196px;
    margin-top: 33px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 570px;
    margin-top: 23px;
    margin-left: -115px;
    margin-right: -115px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 574px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 312px;
  animation-duration: 1000ms;
  margin: 79px 0 0 auto;
}

.u-section-4 .u-custom-html-1 {
  min-height: 319px;
  margin: -312px 570px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 28px auto 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 28px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 248px;
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
    width: 570px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 104px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -120px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-4 .u-image-1 {
    height: 262px;
    margin-top: 50px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 33px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 102px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 216px;
    margin-top: 40px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 61px;
    width: 540px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 90px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -121px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 195px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 569px;
    margin-top: 21px;
    margin-left: -114px;
    margin-right: -114px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 88px;
  }

  .u-section-4 .u-btn-2 {
    align-self: center;
    margin-top: -112px;
  }
}