.u-section-1 .u-sheet-1 {
  min-height: 93px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: "Bebas Neue";
  margin: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 276px;
}

.u-section-2 .u-video-1 {
  height: 258px;
  width: 459px;
  animation-duration: 1000ms;
  margin: 9px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  margin: -66px 0 9px 460px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    margin-left: -50px;
  }

  .u-section-2 .u-text-1 {
    width: 680px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-2 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-video-1 {
    height: 190px;
    margin-top: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 276px;
}

.u-section-3 .u-video-1 {
  height: 258px;
  width: 459px;
  animation-duration: 1000ms;
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: -66px 0 9px 460px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-video-1 {
    margin-left: -50px;
  }

  .u-section-3 .u-text-1 {
    width: 680px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-video-1 {
    height: 190px;
    margin-top: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 276px;
}

.u-section-4 .u-video-1 {
  height: 258px;
  width: 459px;
  animation-duration: 1000ms;
  margin: 9px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: -66px 0 9px 460px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-video-1 {
    margin-left: -50px;
  }

  .u-section-4 .u-text-1 {
    width: 680px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    margin-top: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 276px;
}

.u-section-5 .u-video-1 {
  height: 258px;
  width: 459px;
  animation-duration: 1000ms;
  margin: 9px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: -66px 0 9px 460px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-video-1 {
    margin-left: -50px;
  }

  .u-section-5 .u-text-1 {
    width: 680px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-5 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-5 .u-video-1 {
    height: 190px;
    margin-top: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}