.u-section-1 .u-sheet-1 {
  min-height: 398px;
}

.u-section-1 .u-text-1 {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: 141px 726px 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 367px;
  height: auto;
  animation-duration: 1000ms;
  margin: -241px 15px 15px 488px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 62px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-bottom: 16px;
    margin-left: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 32px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-bottom: 15px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 234px;
}

.u-section-2 .u-text-1 {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 6rem;
  animation-duration: 1000ms;
  margin: 40px 667px 0 58px;
}

.u-section-2 .u-image-1 {
  width: 512px;
  height: 191px;
  filter: brightness(0.75);
  animation-duration: 1000ms;
  margin: -172px 58px 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 3rem;
  margin: -134px 180px 60px 692px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 525px;
    margin-left: 48px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
    margin-right: 525px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 148px;
    margin-left: 592px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 305px;
    margin-left: 37px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 305px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 305px;
    margin-left: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 125px;
    margin-left: 28px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 125px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 125px;
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 127px;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 18px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 998px;
}

.u-section-3 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 48px auto 0;
}

.u-section-3 .u-line-2 {
  width: 693px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-1 {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 6rem;
  margin: 6px 319px 0 318px;
}

.u-section-3 .u-line-3 {
  width: 693px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -3px auto 0 224px;
}

.u-section-3 .u-image-1 {
  width: 322px;
  height: 120px;
  filter: brightness(0.75);
  animation-duration: 1000ms;
  margin: 9px 409px 0;
}

.u-section-3 .u-text-2 {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 3rem;
  margin: -98px 478px 0 477px;
}

.u-section-3 .u-btn-1 {
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 322px;
  height: 120px;
  filter: brightness(0.75);
  animation-duration: 1000ms;
  margin: 40px auto 0;
}

.u-section-3 .u-text-3 {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 3rem;
  width: 188px;
  margin: -98px auto 0;
}

.u-section-3 .u-btn-2 {
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 322px;
  height: 120px;
  filter: brightness(0.75);
  animation-duration: 1000ms;
  margin: 44px 409px 0;
}

.u-section-3 .u-text-4 {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 3rem;
  width: 173px;
  margin: -100px auto 0;
}

.u-section-3 .u-btn-3 {
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 322px;
  height: 120px;
  filter: brightness(0.75);
  animation-duration: 1000ms;
  margin: 38px auto 0;
}

.u-section-3 .u-text-5 {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 3rem;
  width: 248px;
  margin: -98px auto 0;
}

.u-section-3 .u-btn-4 {
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-3 .u-image-5 {
  width: 322px;
  height: 120px;
  filter: brightness(0.75);
  animation-duration: 1000ms;
  margin: 44px auto 0;
}

.u-section-3 .u-text-6 {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 3rem;
  width: 208px;
  animation-duration: 1000ms;
  margin: -98px auto 60px;
}

.u-section-3 .u-btn-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 219px;
    margin-left: 218px;
  }

  .u-section-3 .u-line-3 {
    margin-right: 219px;
    margin-left: 218px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 309px;
    margin-right: 309px;
  }

  .u-section-3 .u-text-2 {
    width: 185px;
    margin-left: 309px;
    margin-right: 309px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 309px;
    margin-right: 309px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 309px;
    margin-right: 309px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 309px;
    margin-right: 309px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 309px;
    margin-right: 309px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 309px;
    margin-right: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 109px;
    margin-left: 108px;
  }

  .u-section-3 .u-line-3 {
    margin-right: 109px;
    margin-left: 108px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 199px;
    margin-right: 199px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 199px;
    margin-right: 199px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 199px;
    margin-right: 199px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 199px;
    margin-right: 199px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 199px;
    margin-right: 199px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 199px;
    margin-right: 199px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 199px;
    margin-right: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-line-2 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 19px;
    margin-left: 18px;
  }

  .u-section-3 .u-line-3 {
    width: 540px;
    margin-right: 19px;
    margin-left: 18px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 109px;
    margin-right: 109px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 109px;
    margin-right: 109px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 109px;
    margin-right: 109px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 109px;
    margin-right: 109px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 109px;
    margin-right: 109px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 109px;
    margin-right: 109px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 109px;
    margin-right: 109px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-line-2 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-line-3 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}