.u-section-1 .u-sheet-1 {
  min-height: 242px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: -1px 5px 0px rgba(146,228,253,1);
  margin: 44px 424px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 910%;
  top: -405%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 324px;
    margin-right: 324px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 691%;
    top: -295%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 214px;
    margin-right: 214px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 529%;
    top: -214%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 124px;
    margin-right: 124px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 24px;
    margin-right: 24px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 242px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: -1px 5px 0px rgba(28,141,46,1);
  margin: 44px 306px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 910%;
  top: -405%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 206px;
    margin-right: 206px;
  }

  .u-section-2 .embed-responsive-1 {
    height: 691%;
    top: -295%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 96px;
    margin-right: 96px;
  }

  .u-section-2 .embed-responsive-1 {
    height: 529%;
    top: -214%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 242px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: -1px 5px 0px rgba(219,132,15,1);
  margin: 44px 297px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 910%;
  top: -405%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 197px;
    margin-right: 197px;
  }

  .u-section-3 .embed-responsive-1 {
    height: 691%;
    top: -295%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 87px;
    margin-right: 87px;
  }

  .u-section-3 .embed-responsive-1 {
    height: 529%;
    top: -214%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 242px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: -1px 5px 0px rgba(76,99,127,1);
  margin: 44px 347px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 910%;
  top: -405%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 247px;
    margin-right: 247px;
  }

  .u-section-4 .embed-responsive-1 {
    height: 691%;
    top: -295%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 137px;
    margin-right: 137px;
  }

  .u-section-4 .embed-responsive-1 {
    height: 529%;
    top: -214%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}