.u-section-1 .u-sheet-1 {
  min-height: 242px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: -1px 5px 0px rgba(146,228,253,1);
  margin: 44px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 242px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: -1px 5px 0px rgba(28,141,46,1);
  margin: 44px auto;
}.u-section-3 .u-sheet-1 {
  min-height: 242px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: -1px 5px 0px rgba(219,132,15,1);
  margin: 44px auto;
}.u-section-4 .u-sheet-1 {
  min-height: 242px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: -1px 5px 0px rgba(76,99,127,1);
  margin: 44px auto;
}