.u-section-1 .u-sheet-1 {
  min-height: 78px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: "Bebas Neue";
  letter-spacing: 3px;
  animation-duration: 1000ms;
  margin: 20px 20px 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 302px;
}

.u-section-2 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 31px auto 0 38px;
}

.u-section-2 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px auto 0;
}

.u-section-2 .u-image-3 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 38px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 15px auto 0 91px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -65px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -65px 96px 45px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 45px;
    margin-left: 31px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 31px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 23px;
    margin-left: 84px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 94px;
    margin-bottom: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 107px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -242px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 58px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 189px;
    margin-right: auto;
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 94px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -230px;
    margin-left: 53px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 174px;
    margin-bottom: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 97px;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 120px;
  }

  .u-section-2 .u-btn-1 {
    align-self: center;
    margin-top: -496px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    align-self: center;
    margin-top: 179px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 202px;
    margin-bottom: 32px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 344px;
}

.u-section-3 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 37px auto 0;
}

.u-section-3 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -153px 40px 0 auto;
}

.u-section-3 .u-image-3 {
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  width: 262px;
  height: 147px;
  margin: -147px auto 0 40px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -65px 98px 0 auto;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -65px auto 60px 98px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 58px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -147px;
    margin-right: 28px;
  }

  .u-section-3 .u-image-3 {
    width: 261px;
    animation-duration: 1000ms;
    margin-top: -153px;
    margin-left: 28px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 15px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -59px;
    margin-right: 86px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -77px;
    margin-left: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 45px;
    margin-right: 28px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 93px;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: -388px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 29px;
    margin-right: 86px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 175px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -305px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 33px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 95px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -389px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 7px;
    margin-right: 58px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 179px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -309px;
    margin-left: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 292px;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 138px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -717px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 301px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 220px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -634px;
    margin-left: auto;
  }
}