.u-section-1 .u-sheet-1 {
  min-height: 242px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  margin: 44px auto;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 242px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  margin: 44px auto;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}