.u-section-1 .u-sheet-1 {
  min-height: 300px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 770%;
  top: -335%;
}

@media (max-width: 1199px) {
  .u-section-1 .embed-responsive-1 {
    height: 557%;
    top: -229%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .embed-responsive-1 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 78px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: "Bebas Neue";
  letter-spacing: 3px;
  animation-duration: 1000ms;
  margin: 20px 20px 5px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 209px;
}

.u-section-3 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 31px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px auto 0 297px;
}

.u-section-3 .u-image-3 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 290px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 0 31px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-3 .u-image-2 {
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 22px;
    margin-right: auto;
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 31px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: -147px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 209px;
}

.u-section-4 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 31px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px auto 0 297px;
}

.u-section-4 .u-image-3 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 290px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 0 31px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    margin-top: -147px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 209px;
}

.u-section-5 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 31px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px auto 0 297px;
}

.u-section-5 .u-image-3 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 290px 0 auto;
}

.u-section-5 .u-image-4 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 0 31px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-5 .u-image-2 {
    margin-left: auto;
  }

  .u-section-5 .u-image-3 {
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: 31px;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-2 {
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 31px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: -147px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-2 {
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 209px;
}

.u-section-6 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 31px auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px auto 0 297px;
}

.u-section-6 .u-image-3 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 290px 0 auto;
}

.u-section-6 .u-image-4 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 0 31px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-6 .u-image-2 {
    margin-left: auto;
  }

  .u-section-6 .u-image-3 {
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    margin-top: 31px;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-2 {
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: 31px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    margin-top: -147px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-2 {
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 209px;
}

.u-section-7 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 31px auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px auto 0 297px;
}

.u-section-7 .u-image-3 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 290px 0 auto;
}

.u-section-7 .u-image-4 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 0 31px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-7 .u-image-2 {
    margin-left: auto;
  }

  .u-section-7 .u-image-3 {
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    margin-top: 31px;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-2 {
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: 17px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-image-4 {
    margin-top: -147px;
    margin-right: 0;
    margin-bottom: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-2 {
    margin-left: 0;
  }

  .u-section-7 .u-image-4 {
    margin-left: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 209px;
}

.u-section-8 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 31px auto 0 0;
}

.u-section-8 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px auto 0 297px;
}

.u-section-8 .u-image-3 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 290px 0 auto;
}

.u-section-8 .u-image-4 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 0 31px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-8 .u-image-2 {
    margin-left: auto;
  }

  .u-section-8 .u-image-3 {
    margin-right: 0;
  }

  .u-section-8 .u-image-4 {
    margin-top: 47px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-2 {
    margin-right: 0;
  }

  .u-section-8 .u-image-3 {
    margin-top: 39px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-image-4 {
    margin-top: -147px;
    margin-right: 0;
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    margin-right: 79px;
  }

  .u-section-8 .u-image-4 {
    margin: 20px 79px 31px 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 209px;
}

.u-section-9 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 31px auto 0 0;
}

.u-section-9 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px auto 0 297px;
}

.u-section-9 .u-image-3 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 285px 0 auto;
}

.u-section-9 .u-image-4 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -149px 0 33px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-9 .u-image-2 {
    margin-top: -137px;
    margin-left: auto;
  }

  .u-section-9 .u-image-3 {
    margin-top: -155px;
    margin-right: 0;
  }

  .u-section-9 .u-image-4 {
    margin-top: 41px;
    margin-right: auto;
    margin-bottom: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-2 {
    margin-top: -147px;
    margin-right: 0;
  }

  .u-section-9 .u-image-3 {
    margin-top: 22px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-image-4 {
    margin-top: -147px;
    margin-right: 0;
    margin-bottom: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-9 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-9 .u-image-4 {
    margin-top: 41px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 211px;
}

.u-section-10 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 32px auto;
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    margin-left: 0;
  }
}