.u-section-1 .u-sheet-1 {
  min-height: 242px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: 0px 2px 0px rgba(218,255,0,1);
  line-height: 0.4;
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 242px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: 0px 2px 0px rgba(219,132,15,1);
  line-height: 0.2;
  margin: 44px auto;
}