.u-section-1 .u-sheet-1 {
  min-height: 242px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: -1px 5px 0px rgba(146,228,253,1);
  margin: 44px auto;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 910%;
  top: -405%;
}.u-section-2 .u-sheet-1 {
  min-height: 242px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 6rem;
  text-shadow: 0px 2px 0px rgba(218,255,0,1);
  line-height: 0.4;
  margin: 60px auto;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 910%;
  top: -405%;
}