.u-section-1 .u-sheet-1 {
  min-height: 300px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 770%;
  top: -335%;
}.u-section-2 .u-sheet-1 {
  min-height: 78px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: "Bebas Neue";
  letter-spacing: 3px;
  animation-duration: 1000ms;
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -48px auto 0 172px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px 172px 10px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 209px;
}

.u-section-3 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 31px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px auto 0 297px;
}

.u-section-3 .u-image-3 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 290px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 0 31px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-3 {
    margin-right: auto;
    margin-left: 297px;
  }

  .u-section-3 .u-image-4 {
    width: 215px;
    margin-right: auto;
    margin-left: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-4 {
    width: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-2 {
    margin-left: 279px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 279px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 209px;
}

.u-section-4 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 31px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px auto 0 297px;
}

.u-section-4 .u-image-3 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 290px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 0 31px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 297px;
  }

  .u-section-4 .u-image-4 {
    width: 215px;
    margin-right: auto;
    margin-left: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-4 {
    width: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-2 {
    margin-left: 279px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -147px;
    margin-right: 279px;
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 209px;
}

.u-section-5 .u-image-1 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: 31px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px auto 0 297px;
}

.u-section-5 .u-image-3 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 290px 0 auto;
}

.u-section-5 .u-image-4 {
  width: 261px;
  height: 147px;
  animation-duration: 1000ms;
  box-shadow: 0 13px 16px 0px rgba(128,128,128,1);
  margin: -147px 0 31px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 297px;
  }

  .u-section-5 .u-image-4 {
    width: 215px;
    margin-right: auto;
    margin-left: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-4 {
    width: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-2 {
    margin-left: 279px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -147px;
    margin-right: 279px;
    margin-left: auto;
  }

  .u-section-5 .u-image-4 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}